.footer {
    position: absolute;
    bottom: 0px;
}

.gornji-tekst {
    padding-top: 20px;
}

#izlaz {
    background-color: lightgrey;
}

.ciklicnaTablica {
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ciklicnaPosljednjaCelija {
    background-color:gold
}

.tablica-mnozenja {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 3px solid black;
}

.tr-tm {
    border: 1px solid black;
    background-color: lightgoldenrodyellow;
}

.ljubavniKalkulatorRezultat {
    text-align: center;
}

#srce {
    animation: otkucajiSrca 1.2s infinite;
}

@keyframes otkucajiSrca {
    0% {
        transform: scale(.75);
    }

    20% {
        transform: scale(1);
    }

    40% {
        transform: scale(.75);
    }

    60% {
        transform: scale(1);
    }

    80% {
        transform: scale(.75);
    }

    100% {
        transform: scale(.75);
    }
}

.cookie-container {
    position: fixed;
    bottom: -100%;
    left :0;
    right: 0;
    background: #2f3640;
    color: #f5f6fa;
    padding: 32px;
    box-shadow: 0 -2px 16px #2f3640;
    transition: 400ms;
}

.cookie-container.active {
    bottom: 0;
}